.App {
  box-sizing: border-box;
  display: block;
  background-color: #3e4451;
}


.App-header {
  background-color: #1d2026;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
}

.App-main {
  min-height: 80vh;
  max-width: 450px;
  display: flex;
  flex-direction: column; /* Change to column to create rows */
  padding: 5vh;
  align-items: center; /* Center items horizontally */
  font-size: 1rem;
  color: white;
  margin: 0px auto;
}

.App-footer {
  background-color: #1d2026;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
}

.fixed-viewport {
  align-items: center;
  width: 100%;           /* 30% of viewport width */
  height: auto;          /* 40% of viewport height */
  padding: 10px 0px;
}
.module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%

}
.headings {
  display: flex; /* Make headings spread across the row */
  justify-content: space-between;

}
.heading {
  width: 30%;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(15, 10, 16);
}






.circles-container {
  display: flex;
  justify-content: space-between;


}

.circle {
  width: 30%;
  height: 20px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(15, 10, 16);
  border-radius: 0.25rem;
  color: black;
  margin-bottom: 0.4rem;
}

.circle-white {
 background-color: white;
}

.circle-red {
 background-color: red;
}

.circle-green {
 background-color: green;
}

.form{
    display: flex;
    flex-direction: column;

    width: 100%;  
}
.select {
    width: 100%;
    position: relative;
    margin-bottom: 0.4rem;
}

.select_input{
  width: 95%;
  height: fit-content;
  color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(15, 10, 16);
  border-image: initial;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.45rem 0.5rem;

}

.form_submit {
    width: 60%;
    cursor: pointer;
    margin: 0px auto 0.425rem;
    padding: 0.25rem 0.5rem;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(15, 10, 16);
    border-image: initial;
    border-radius: 1rem;
}

datalist {
 width: 95%;
 height: fit-content;
 color: rgb(0, 0, 0);
 border-width: 2px;
 border-style: solid;
 border-color: rgb(15, 10, 16);
 border-image: initial;
 border-radius: 0.25rem;
 outline: none;
 padding: 0.45rem 0.5rem;
}

datalist option {
 background-color: white;
 border: 2px solid rgb(15, 10, 16);
 border-radius: 0.25rem;
 font-size: inherit;
 cursor: pointer;
}

datalist option:hover, datalist option:focus {
  color: #fff;
  background-color: #036;
  outline: 0 none;
}